DATABASE_URL=postgresql://postgres:ТВОЙ_ПАРОЛЬ@localhost:5432/cv_matching
POSTGRES_PASSWORD=ТВОЙ_ПАРОЛЬ

GOOGLE_CREDS_PATH=google_creds.json
SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/.../export?format=xlsx&gid=...
API_BASE_URL=http://localhost:8000