*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
crash.log
*.tfplan
.env
.env.example
google_creds.json
infra/data/certbot/
venv/
env/
.venv/
__pycache__/
*.py[cod]
*$py.class
.vscode/
*.sqlite3
pg_data/
sync_status.txt
.DS_Store
Thumbs.db
/.idea